# Nuxt
.nuxt
.output
.nitro
.cache
dist

# Node
node_modules
.npm
.pnpm-store

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log

# Netlify
.netlify
